@import "_normalize.scss";
@import "_variables.scss";


@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left : 15px;
    margin-right : auto;
    margin-left  : auto;
}

body {
    font-size       : $font-size-md;
    line-height     : $line-height-md;
    font-family     : $font-family-base;
    color           : $black;
    background-color: $gray-100;
    font-weight     : 500;
}

hr {
    border          : none;
    height          : 1px;
    margin          : 10px 0;
    background-color: $gray-300;
}

h1 {
    font-size  : $font-size-lg;
    line-height: $line-height-lg;
    font-weight: 600;
    margin     : 0;
}

p {
    margin : 0;
    padding: 0;
}

a {
    text-decoration: none;
}

th {
    font-weight: 500;
}

ul {
    margin: 0;
    padding: 0;
}

.title {
    font-size: $font-size-xl;
    margin-top: 50px;
}

@media (max-width: 576px) {
    .title {
        font-size: $font-size-lg;
        margin-top: 10px;
    }
}

.item-checkbox {
    width        : 14px;
    height       : 14px;
    display      : block;
    border       : 1px solid $gray-400;
    border-radius: 2px;
    cursor       : pointer;
    position     : relative;

    &--active:before {
        content   : '\2713\0020';
        position  : absolute;
        top       : -4px;
        left      : 1px;
        color     : $primary;
        transition: all .2s;
    }
}

.btn {
    border       : 1px solid $gray-400;
    border-radius: 2px;
    padding      : 0 10px;
    cursor       : pointer;
    display      : flex;
    align-items  : center;
    user-select  : none;
    height       : 32px;
    outline      : none;

    &--arrow-left {
        transform: rotate(90deg);
    }

    &--arrow-right {
        transform: rotate(-90deg);
    }

    &--disabled {
        opacity       : 0.3;
        cursor        : default;
        pointer-events: none;
    }

    &--primary {
        background-color: $primary;
        border-color    : $primary;
        color           : $white;
    }
}

.confirmation-panel {
    position        : absolute;
    top: calc(50% - 60px);
    right: calc(50% - 100px);
    background-color: $white;
    color           : $black;
    padding         : 15px;
    width           : 200px;
    box-shadow      : 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius   : 4px;
    text-align      : center;
    z-index         : 10;
    user-select     : none;

    &__buttons {
        display        : flex;
        margin-top     : 10px;
        justify-content: center;

        &-cancel {
            margin-right: 15px;
        }
    }
}

.buttons-bar {
    user-select     : none;
    outline         : none;
    background-color: #efefef;
    width           : calc(100% - 30px);
    left            : 15px;
    height          : 50px;
    border-radius   : 20px;
    box-shadow      : 0 3px 4px #e4e4e4;
    position        : fixed;
    bottom          : 20px;
    top             : auto;
    &__content {
        display              : grid;
        grid-gap             : 10px;
        grid-template-columns: 1fr 50px 1fr;
        height: 100%;
        padding: 0 20px;
    }
    &__element {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    &__item {
        border: none;
        background-color: initial;
        & svg {
            width: 15px;
            height: 15px;
        }
    }
    &__note-save {
        position: absolute;
        bottom: 10px;
        left: calc(50% - 25px);
        box-shadow: 0 3px 4px #888888;
        width: 50px;
        height: 50px;
        overflow: hidden;
        background-color: $primary;
        color: $white;
        border-radius: 50px;
        transition: .3s;
        display: flex;
        align-items: center;
        white-space: nowrap;
        padding: 0;
        cursor: pointer;
        border: 0;
        & svg {
            margin: 0 18px;
        }
    }
}
@media (max-width: 768px) {
    .buttons-bar {
        display: none;
    }
    .buttons-bar--mobile {
      display: block;
    }
}

.--desktop {
    display: block;
}
.--mobile {
    display: none;
}
@media (max-width: 768px) {
    .--desktop {
        display: none !important;
    }
    .--mobile {
        display: block !important;
    }
}


textarea:focus,
input:focus,
button:focus {
    outline: none;
}

.d-flex {
    display: flex;
}

.p-relative {
    position: relative;
}

.text-center {
    text-align: center;
}

.mt-50 {
    margin-top: 50px;
}
.mb-50 {
    margin-bottom: 50px;
}

.mb-10 {
    margin-bottom: 10px;
}
.mt-10 {
    margin-top: 10px;
}
.mr-10 {
    margin-right: 10px;
}